*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    
}

.navbar{
    
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 9;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 8px rgb(107, 107, 107);
}

.nav{
    /* background-color: rgb(200, 144, 124); */
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brand-logo{
    height: 60px;
    flex-wrap: wrap;
    display: flex;
}

.nav-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
    flex-wrap: wrap;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
}

.search-box::placeholder{
    color: #a9a9a9;
    flex-wrap: wrap;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}
.carousel {
    text-align: center;
    /* height: 300px; */
    height: 60%;
    background-color:#efefef;
    
}
.carousel img{
    text-align: center;
    height: 300px;
    margin-top: 2%;
    width: 60%;
    /* background: url(/img/CHRISTMAS.png); */
    margin-bottom: 2%;
    /* border-radius: 20px; */
}
.sec2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    height: 250px;
    width: auto;
    /* padding-left: 15%; */
    /* padding-top: %; */
    /* display: inline; */
    justify-content:space-around;
    background-color:#ffffff;
    cursor: pointer;
}
.sec3{
    height:750px;
    width: 100%;
    background-color:#e9eef5;
    padding-top: 40px;

}




.footer-content p{
    cursor: pointer;
    /* letter-spacing: 0.1em; */
    font-size: larger;
    font-weight: bolder;
}

.image{
    height: 200px;
}


    .container {
        width: 85%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(370px, 1fr));
        grid-gap: 25px;
        
      }

    .cards {
        background-color: white;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        /* height: 400px; */
        width: 400px;
        border-radius: 20px;
      }
      .image-section {
        height: 430px;
        background-color: red; 
        border-radius: 20px;
      }
      .cards .img-one {
        background: url(iphone-14-pro.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* width: 20px; */
        /* height: 370px; */
      }
      .cards .img-two {
        background: url(i14plus.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* height: 370px; */
      }
      .cards .img-three {
        background: url(i14plus.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* height: 370px; */
      }
      .content {
        padding: 20px 10px;
        text-align: center;
      }
      .content h2 {
        letter-spacing: 1.5px;
      }
      .content h3 {
        margin-top: 5px;
        font-family: sans-serif;
      }
      .content p {
        margin: 15px 0px;
        font-size: 15px;
      }
      .content a {
        text-decoration: none;
        font-size: 17px;
        color: #fff;
        letter-spacing: 1.5px;
        display: inline-block;
        background-color: #66c20a;
        padding: 8px 15px;
      }
      .content a:hover {
        background-color: #d4bb19;
        color: #333;
        transition: 1s ease;
      }
      

      @media screen and (max-width: 768px) {
        .container {
          width: 85%;
          margin: 50px auto;
          display: grid;
          grid-template-columns: repeat(2 , minmax(370px, 1fr));
          grid-gap: 25px;
        }

    }

    
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color:#212934;
    color: white;
  }